USE [master]
GO
/****** Object:  Database [Bookworm]    Script Date: 6/28/2018 6:59:17 PM ******/
CREATE DATABASE [Bookworm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookworm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bookworm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookworm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bookworm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookworm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookworm]
GO
USE [Bookworm]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/28/2018 6:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ISBN] [nvarchar](50) NULL,
	[PublishedYear] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[LatePrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[CardNumber] [nvarchar](10) NOT NULL,
	[EmailAddress] [nvarchar](250) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkouts]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[CheckOutDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[CheckInDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Checkouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CheckoutData]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CheckoutData] as 

	select
		b.Id as 'BookId',
		b.Title,
		b.Price,
		b.LatePrice,
		m.Id as 'MemberID',
		m.FirstName,
		m.LastName,
		m.CardNumber,
		c.Id as 'CheckOutId',
		c.CheckOutDate,
		c.CheckInDate,
		c.DueDate
	from Books b
	join Checkouts c on c.BookId = b.Id
	join Members m on m.Id = c.MemberId

GO
/****** Object:  Table [dbo].[AuthorGenres]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorGenres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_AuthorGenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[BadgeNumber] [nvarchar](50) NOT NULL,
	[HourlyWage] [money] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floors]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_Floors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FloorId] [int] NOT NULL,
	[Shelf] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [Name]) VALUES (1, N'Adam Rubin')
INSERT [dbo].[Authors] ([Id], [Name]) VALUES (2, N'Andre Agassi')
INSERT [dbo].[Authors] ([Id], [Name]) VALUES (3, N'Anne Frank')
SET IDENTITY_INSERT [dbo].[Authors] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [AuthorId], [GenreId], [Title], [ISBN], [PublishedYear], [Price], [LatePrice]) VALUES (1, 8, 2, N'Animal Farm', N'0452284244', 1945, CAST(7.72 AS Decimal(18, 2)), CAST(1.45 AS Decimal(18, 2)))
INSERT [dbo].[Books] ([Id], [AuthorId], [GenreId], [Title], [ISBN], [PublishedYear], [Price], [LatePrice]) VALUES (2, 6, 2, N'The Old Man and the Sea', N'0684830493', 1952, CAST(3.16 AS Decimal(18, 2)), CAST(1.55 AS Decimal(18, 2)))
INSERT [dbo].[Books] ([Id], [AuthorId], [GenreId], [Title], [ISBN], [PublishedYear], [Price], [LatePrice]) VALUES (3, 7, 2, N'The Great Gatsby', N'0743273567', 1925, CAST(9.92 AS Decimal(18, 2)), CAST(2.54 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Checkouts] ON 

INSERT [dbo].[Checkouts] ([Id], [BookId], [MemberId], [EmployeeId], [CheckOutDate], [DueDate], [CheckInDate]) VALUES (1, 17, 1, NULL, CAST(N'2017-01-23T00:00:00.0000000' AS DateTime2), CAST(N'2017-02-06T00:00:00.0000000' AS DateTime2), CAST(N'2017-01-23T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Checkouts] ([Id], [BookId], [MemberId], [EmployeeId], [CheckOutDate], [DueDate], [CheckInDate]) VALUES (2, 4, 1, NULL, CAST(N'2017-01-16T00:00:00.0000000' AS DateTime2), CAST(N'2017-01-30T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Checkouts] ([Id], [BookId], [MemberId], [EmployeeId], [CheckOutDate], [DueDate], [CheckInDate]) VALUES (3, 15, 1, NULL, CAST(N'2017-02-12T00:00:00.0000000' AS DateTime2), CAST(N'2017-02-26T00:00:00.0000000' AS DateTime2), CAST(N'2017-02-14T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Checkouts] OFF
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name]) VALUES (1, N'Biography')
INSERT [dbo].[Genres] ([Id], [Name]) VALUES (2, N'Classics')
INSERT [dbo].[Genres] ([Id], [Name]) VALUES (3, N'Philosophy')
SET IDENTITY_INSERT [dbo].[Genres] OFF
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [FirstName], [LastName], [CardNumber], [EmailAddress]) VALUES (1, N'Phillip', N'Scholtes', N'1000001', N'phil.scholtes@gmail.com')
INSERT [dbo].[Members] ([Id], [FirstName], [LastName], [CardNumber], [EmailAddress]) VALUES (2, N'Paul', N'Hohnbaum', N'1000002', NULL)
INSERT [dbo].[Members] ([Id], [FirstName], [LastName], [CardNumber], [EmailAddress]) VALUES (3, N'Gauri', N'Bansal', N'1000003', NULL)
SET IDENTITY_INSERT [dbo].[Members] OFF
/****** Object:  Index [UX_AuthorGenres]    Script Date: 6/28/2018 6:59:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AuthorGenres] ON [dbo].[AuthorGenres]
(
	[AuthorId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorGenres]  WITH CHECK ADD  CONSTRAINT [FK_AuthorGenres_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[AuthorGenres] CHECK CONSTRAINT [FK_AuthorGenres_Authors]
GO
ALTER TABLE [dbo].[AuthorGenres]  WITH CHECK ADD  CONSTRAINT [FK_AuthorGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[AuthorGenres] CHECK CONSTRAINT [FK_AuthorGenres_Genres]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Genres]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [FK_Checkouts_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [FK_Checkouts_Books]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [FK_Checkouts_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [FK_Checkouts_Employees]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [FK_Checkouts_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [FK_Checkouts_Members]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Floors] FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floors] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Floors]
GO
/****** Object:  StoredProcedure [dbo].[CreateGenre]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CreateGenre]
	@GenreName nvarchar(50)
as
begin

	set nocount on;

	if not exists (select Id from Genres where Name = @GenreName)
	begin
		insert into Genres
	values(@GenreName)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[GetBookById]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetBookById]
	@BookId int
as
begin

	set nocount on;
	
	select *
	from Books
	where Id = @BookId

end
GO
/****** Object:  StoredProcedure [dbo].[GetPopularAuthorByMember]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetPopularAuthorByMember]
	@MemberId int
	as
	begin

		select top 1 a.Name, m.FirstName, count(a.Name) as 'AuthorCount' from Checkouts c
		join Books b on b.Id = c.BookId
		join Authors a on a.Id = b.AuthorId
		join Members m on m.Id = c.MemberId
		where m.Id = @MemberId
		group by a.Name, m.FirstName
		order by AuthorCount desc

	end
GO
/****** Object:  StoredProcedure [dbo].[GetPopularGenreByMember]    Script Date: 6/28/2018 6:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetPopularGenreByMember]
	@MemberId int
	as
	begin

	select top 1 g.Name, m.FirstName, count(g.Name) as 'GenreCount'
	from Checkouts c
	join Books b on b.Id = c.BookId
	join Genres g on g.Id = b.GenreId
	join Members m on m.Id = c.MemberId
	where c.MemberId = @MemberId
	group by g.Name, m.FirstName
	order by GenreCount desc

	end
GO
USE [master]
GO
